.giylou{
    display:flex;
}
.retu1{
    width:170px;
    text-align: center;
}
.retu2{
    flex: 1 1 auto;
}
.retuB{
    text-align: center;
    flex: 1 1 auto;
}
.retuK{
    width:170px;
    text-align: center;
    background-color: #88bfbf;
    border-bottom: 1px dashed #000000;
}
.retuK2{
    text-align: center;
    background-color: #dbebc4;
    width:170px;
    border-bottom: 1px dashed #000000;
}
.main2{
    width:1200px;
    margin:20px auto 20px auto;
    padding:20px 20px 20px 20px;
    background-color: #d1ffe8;
    border-bottom: 1px solid darkgray;
    justify-content: center;
    align-items: center;
}
.main{
    width:500px;
    margin:20px auto 20px auto;
    padding:20px 20px 20px 20px;
    background-color: #f7f6f5;
    border:1px solid darkgray;
    justify-content: center;
    align-items: center;
}
#di{
    text-align: center;
}

label{
    cursor:pointer;
}
label:hover{
    background-color:#a0d8ef;
    color:#ee7800;
}
textarea {
    resize: none;
}
