body{
    background-color:#d1ffff;
    background-image: url(rira.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#ta{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color:#ffffe5;
    border-radius: 10px;
}
#di{
    text-align: center;
}
#di input{
    text-align: center;
    background:#ffd8b2;
    border:1px solid #ffc184;
    border-radius: 10px;
}
#trr{
    background-color:#d1ffd1;
}
#trg{
    background-color:#ffffe5;
}
#trg2{
    background-color:#ffdbdb;
}
td,th{
    padding:5px;
    text-align: center;
    border-bottom: 1px dashed #000000;
}
#but input{
    background:#ffd8b2;
    border:1px solid #ffc184;
    border-radius: 10px;
}
textarea {
    resize: none;
}
.ww{
    width: 300px;
}
label{
    cursor:pointer;
}
label:hover{
    background-color:#a0d8ef;
    color:#ee7800;
    border-radius: 10px;
}
