body{
    background-color:#d1ffff;
}
#ta{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
#di{
    text-align: center;
}
#trr{
    background-color:#d1ffd1;
}
#trg{
    background-color:#ffffe5;
}
